* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 0;
    width: 100% !important;
}

/* Credentials section */
.credentials .logoname {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -4px;
    font-style: italic;
}

.credentials .chatbox {
    width: 60%;
    padding: 30px 20px;
    border: none;
    transition: all 0.5s ease-in-out;
}

.credentials .chatbox:hover {
    padding: 40px 30px;
    border: 2px solid #e95420;
}

@media (max-width: 988px) {
    .credentials .chatbox {
        width: 100%;
    }
}

.credentials input {
    position: relative;
    font-size: 27px;
    padding: 10px 20px;
    color: #000;
    font-style: normal;
    font-family: Roboto;
}

.credentials input:active, .credentials input:focus {
    border: 2px solid #e95420;
}

.credentials button[type=submit] {
    padding: 10px 40px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.credentials .already {
    font-size: 17px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 700;
    z-index: 999;
    color: #000;
}

.credentials .already a {
    padding-left: 20px;
    transition: 0.2s;
}

.credentials .already a:hover {
    font-size: 18px;
}

.credentials span {
    z-index: 99999;
}

.credentials span i {
    font-size: 30px;
    color: #000;
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 99999;
}

.credentials span:hover {
    cursor: pointer;
}

/* Chatpage styling */
.chatbody {
    background: #111b21;
}

.chatbody {
    height: 100%;
    width: 100%;
    color: #aebac1 !important   ;
}

.chatbody header {
    background: #202c33;
    height: 60px;
}

.chatbody .users {
    width: 25%;
    display: flex;
    overflow: auto;
    scrollbar-width: thin;
    border-right: 0.001em solid #aebac1;
}

.chatbody .content {
    width: 74%;
    display: flex;
}

@media (max-width: 768px) {
    .chatbody .content {
        width: 100%;
    }
}

.chatbody .righticons i {
    color: #aebac1 !important;
    padding-right: 23px;
}

.chatbody .righticons i {
    font-size: 20px;
    font-weight: 600;   
}

.chatbody header .profile i {
    font-size: 40px;
    border-radius: 50%;
    margin-left: 16px;
}

/* Working with the user section */
.chatbody .search-div {
    display: none;
}

.chatbody .search-div input {
    background: #202c33;
    color: #5d6c75;
    border: 0px;
    color: #fff;
    font-weight: 300;
}

.chatbody .search-div input:focus   {
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); 
    box-shadow: none;
}

.chatbody .search-div input::placeholder {
    color: #5d6c75;
    opacity: 1;
}

.chatbody .users .people-list {
    flex: 1 1 auto;
    overflow: auto;
}

.chatbody .users .people-list .profile i {
    font-size: 40px;
    border-radius: 50%;
    margin-left: 16px;
}

.chatbody .users .people-list .userbox span {
    font-weight: 300;
    font-size: 14px;
}

.chatbody .users .people-list .userbox.unread .message {
    font-weight: bold;
}

.chatbody .users .people-list .userbox.read .message{
    font-weight: 300;
    font-size: 14px;
}

/* Working with the content section. */
.chatbody .content .messages {
    overflow: hdden;
}

.chatbody .content .messages .chat-container {
    width: 91%;
    padding: 20px 10px;
    position: relative;
}

.chatbody .content .messages .message{
    margin-top: 15px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    min-width: 400px;
}

.chatbody .content .messages .message span {
    position:absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
    font-weight: 500;
}

.chatbody .content .messages .message.sender {
    background-color: #005c4b;
    color: #e9edef;
    margin-left: auto;
}

.chatbody .content .messages .message.receiver {
    background-color: #202c33;
    color: #bdc2c5;
}

.chatbody .content .btnPerson {
    border: none;
    background: none;
    color: #aebac1;
}

.chatbody .content .messages {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
}

.chatbody .content  section.userinput  {
    height: 70px;
    background: #202c33;
    left: 0;
    right: 0;
    bottom: 0px;
}

.chatbody .content section.userinput .inputbox {
    flex: 1 1 auto;
}

.chatbody .content section.userinput .inputbox textarea {
    background: #2a3942;
    color: #5d6c75;
    border: 0px;
    color: #fff;
    font-weight: 300;
    /* padding: 13px 20px; */
}

.chatbody .content section.userinput .inputbox textarea::placeholder {
    color: #5d6c75;
    opacity: 1;
}

.chatbody .content section.userinput .inputbox textarea:focus   {
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);  */
    box-shadow: none;
}

.chatbody .content section.userinput .leftbuttons button,
.chatbody .content section.userinput .rightbuttons button {
    background: none;
    border: none;
    font-size: 34px;
    color: #8696a0;
    padding-right: 10px;
    padding-left: 20px;
} 